h1{
 text-align: center;
 
}
h2{
    color: rgb(241, 24, 194); 
}
h3{
    color: rgb(241, 24, 194);  
}
h4{
    color: rgb(241, 24, 194);  
}
.current-team{
    color: rgb(241, 24, 194);  
    font-size: 24px;
}
body{
    background-image: url("https://i.imgur.com/qbRJDCk.png?1");
    background-color: black;
}
.background{
    background-color: black;
    width: 1000px;
    height: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* display: flex;
    justify-content: center; */
}
.question{
    text-align: center;
}
.triviaQuestion{
    height: 40px;
    margin-bottom: 10px;
}
.options{
    text-align: center;
    height: 30px;
    margin-bottom: 20px;
}
.intro{
    text-align: center;
    margin-bottom: 20px;
}
button{
    background-color: black;
    border-color: rgba(235, 235, 29, 0.824);
}
.play{
    height: 41px;
    width: 145px;
  
}
.twenty-six{
    width: 140px;
    
}
.cat{
    height: 30px;

}

.play-game{
    /* visibility: hidden; */
}

input {
    border-color: rgba(235, 235, 29, 0.824);
    background-color: black;
    height: 30px; 
}
input[type="text"]{
    font-size: 25px;
    color: rgb(241, 24, 194);
}

::placeholder{
    color: rgb(241, 24, 194);
}

.score{
    font-size: 20px;
    color: rgb(241, 24, 194);
text-align: left;
margin-top: 10px;
}


.team-data{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
}

.submit-one{
    width: 80px;
    height: 40px;
    margin-left: 0px;
    margin-top: 0px;
}

.reset{
    color: rgb(241, 24, 194);
    margin-top: 15px;
    font-size: 20px;
    height: 35px;
}

.next-question{
    font-size: 20px;
    color: rgb(241, 24, 194);
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.try-again{
    font-size: 20px;
    color: rgb(241, 24, 194);
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
