h1{
 text-align: center;
}

h2{
    color: rgb(241, 24, 194); 
}

h3{
    color: rgb(241, 24, 194);  
}

h4{
    color: rgb(241, 24, 194);  
}

body{
    background-image: url("https://i.imgur.com/qbRJDCk.png?1");
    background-color: black;
}

.background{
    background-color: black;
    width: 1000px;
    height: 700px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.question{
    text-align: center;
}

.triviaQuestion{
    height: 40px;
    margin-bottom: 20px;
    font-family: 'Maven Pro', sans-serif;
}

.options{
    text-align: center;
    height: 30px;
    margin-bottom: 20px;
    font-family: 'Maven Pro', sans-serif;
}

.intro{
    text-align: center;
    margin-bottom: 20px;
}

button{
    background-color: black;
    border-color: rgba(235, 235, 29, 0.824);
}

.twenty-six{
    width: 140px;  
}

.cat{
    height: 30px;
}

input {
    border-color: rgba(235, 235, 29, 0.824);
    background-color: black;
    height: 31px; 
    padding-top: 2px;
    padding-bottom: 4px;
    margin-right: 10px;
    width: 225px;
}

input[type="text"]{
    font-size: 20px;
    color: rgb(241, 24, 194);
}

::placeholder{
    color: rgb(241, 24, 194);
    font-family: 'Maven Pro', sans-serif;
}

.team-data{
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    visibility: hidden;
    margin-top: 60px;
}

.submit{
    color: transparent;
    background-image: url("https://i.imgur.com/BqYzdNj.png?1");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 90px;
    height: 41px;
    font-size: 25px;
    margin-left: 0px;
}

.reset{
    margin-top: 15px;
    font-size: 20px;
    height: 37px;
    visibility: hidden; 
}

.next-question{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    
}

.try-again{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    font-family: 'Maven Pro', sans-serif;
}
