h1{
 text-align: center;
 
}
h2{
    color: rgb(241, 24, 194); 
}
h3{
    color: rgb(241, 24, 194);  
}
.current-team{
    color: rgb(241, 24, 194);  
    font-size: 24px;
}
body{
    background-image: url("https://i.imgur.com/qbRJDCk.png?1");
    background-color: black;
}
.background{
    background-color: black;
    width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* display: flex;
    justify-content: center; */
}
.question{
    text-align: center;
}
.options{
    text-align: center;
}
.intro{
    text-align: center;
}
button{
    background-color: black;
    border-color: rgba(235, 235, 29, 0.824);
}
.play{
    height: 41px;
    width: 145px;
  
}
.twenty-six{
    width: 104px;
    
}
.cat{
    height: 30px;

}

.play-game{
    visibility: hidden;
}

input {
    border-color: rgba(235, 235, 29, 0.824);
    background-color: black;
    height: 30px;
    display: flex;
    
}
::placeholder{
    color: rgb(241, 24, 194);
}

